/*---------로고 위치--------------*/
.logo {
    --background: pink;
    height: 70px;
    width: 300px;
    text-align: center;
    margin-top: 15px;
}

/*--------헤더 위치------------*/
#header{
    padding-top: 15px;
}
    .content-container {
        
        display: flex;
        justify-content: center;
        background: grey;
    } 

/*----------------------검색-----------------------------*/
.search{
    display: inline-block;
    position: absolute;
    left:250px;
    top:25px;
}

.search>div{
    display: flex;
    align-items: center;
}
.search input[type="submit"]{
    border: 0px;
    height:25px;
    width: 31px;
}
.search input[type="text"]{
    flex-grow: 1;
}


/*-----------------------로그인 및 회원 정보 -----------------*/

.member-menu{
    display: inline-block;
    position: absolute;
    right:250px;
    top:25px;  
}
    .member-menu>ul{
        display:flex;
        font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #000;
    }
        .member-menu>ul>li{
            padding-right: 20px;
            padding-left: 20px;
        }

/*--------------------상단 메인 메뉴---------------------*/

.main-menu ul {
    display: flex;
    justify-content: center;
    font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #000;
    text-decoration: none;
     
}
    .main-menu >ul >li{
        padding-top:10px;
        padding-right: 70px; 
        padding-left: 70px; 
    }
    .main-menu a{
        color:#000;
        background: white;
        }
.main-menu a:hover{
color:#9b0074;
}

/*------body (서브메뉴부터 footer전까지)-----*/
#body{
    display: flex;
    justify-content: center;
}

.main-category {
    height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 999;
    
    position: relative;
    left :300px;

}

.main-menu ul {
    display: flex;
    justify-content: center;
    font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #000;
    text-decoration: none;

}

.main-menu>ul>li {
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 70px;
}

.main-menu a {
    color: #000;
    --background: white;
}

.main-menu a:hover {
    color: brown;
}



/* ---------------------이미지----------------------- */

.item1 img {
    resize: both; /* 이미지 최대 사이즈에 적용 */
    display: block;
    margin : auto ;
    max-width: 700px; /* 넓이를 지정 */
    max-height: 500px;
    }

    .item2 img {
    display: block;
    margin : auto ;
    resize: both; /* 이미지 최대 사이즈에 적용 */
    float: center; /* 가운데 정렬 */
    max-width: 300px; /* 넓이를 지정 */
    max-height: 1000px;
    }

    .item3 img {
        display: block;
        margin : auto ;
        resize: both; /* 이미지 최대 사이즈에 적용 */
        float: center; /* 가운데 정렬 */
        max-width: 300px; /* 넓이를 지정 */
        max-height: 500px;
    }
    .item4 img {
        display: block;
        margin : auto ;
        resize: both; /* 이미지 최대 사이즈에 적용 */
        float: center; /* 가운데 정렬 */
        max-width: 310px; /* 넓이를 지정 */
        max-height: 500px;
    }
    .item5 img {
        display: block;
        margin : auto ;
        resize: both; /* 이미지 최대 사이즈에 적용 */
        float: center; /* 가운데 정렬 */
        max-width: 250px; /* 넓이를 지정 */
        max-height: 250px;
    }
    .item6 img {
        display: block;
        margin : auto ;
        resize: both; /* 이미지 최대 사이즈에 적용 */
        float: center; /* 가운데 정렬 */
        max-width: 250px; /* 넓이를 지정 */
        max-height: 250px;
    }

 /* --------------detail 설명------------- */
 
.d-header{
    background-color: gray;
    display: flex;
    justify-content: center;
}


.description{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    margin : auto;
    border:1px solid black;
    max-width: 1140px; 
    max-height: 600px;
    /* overflow: auto; */
    /* opacity: 0.9; */
    font-weight: bold;
    z-index: 999;
    /* border: 0px; */
    

    }

    .close{ /* 기사 누르면 X 표시 눌러서 종료하는 버튼*/
        position: absolute;
        right: 10px;
        top: 10px;
        }

    .d-img{ /* 기사 누르면 뜨는 이미지*/
        width: 550px;
        float: left;
        z-index: 1000;
        margin: 100px 20px;
    }
     .d-coment{
        position: relative;
        top:50px;
        margin-right: 50px;
        font-size: 20px;
    }
    
    .d-title{ /* 기사 누르면 뜨는 타이틀*/
        margin-bottom: 20px;
        font-size: 25px;
        text-align: left;
        font-weight: bold;

    }
    .d-content{ /* 기사 누르면 뜨는 설몀*/
        height: 350px;
        overflow: auto;
    }
    .d-buttons{ /* 기사 누르면 뜨는 상세정보쪽 버튼들*/
        display: flex;
        position: absolute;
        top:320px;
        left:600px; 
        margin: 100px 0; 
    }

    .d-button{
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 450px;
        color: #ffffff;
        background-color: #000000;
        margin-right: 10px;
    }
    .d-button:hover{ /* 기사 누르면, 상세버튼 색상 변경*/
        background-color: #999999;
        color: white;
    }

    .d-like{ /* 기사 누르면, 좋아요 버튼*/
        width: 50px;
        height: 50px;   
        border: none;
        background: none; 
        background-image: url("../css/images/unlike.png") ;
        background-size: cover;
    }
    .d-unlike{ /* 기사 누르면, 좋아요 해지 버튼*/
        width: 50px;
        height: 50px;   
        border: none;
        background: none; 
        background-image: url("../css/images/like.png") ;
        background-size: cover;
        transition: 10s;
    }

/*------------footer------------------*/
.footer-container{
    text-align: center;
    background: rgb(11, 71, 11);
    
}