#header{
    height: 130px;
    background: red;
}
.header-menu>div {
    display: flex;
    justify-content: center;
}

/*-----------------로고----------------*/

.logo{
    
}


/*--------------------검색창--------------------*/
.search{

    height: 40px;
}


/*----------로그인-------------*/
.member-menu{
    --background: skyblue;
    height: 40px;
}

/*-----------------배너----------------------------------*/
.top-banner{
    margin: 10px auto 0;
    text-align: center;
    display: block;
}

.middle-banner{
    margin: 10px auto 0;
    text-align: center;
    display: block;
   
}

/*-----------------메인----------------------------------*/

.main{
    height:max-content;
    width: 1240px; 
}
.top-banner{
    margin-top: 20px;
    /* height: 400px; */
    width: 1240px;
}

.grid-container1{
    margin: 50px auto 0;
    display: grid;

    grid-template-columns: 350px 400px 400px;
    grid-template-rows: 400px 400px;
    grid-gap: 15px;
    width: 1240px;
    --background-color: black;
    
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    }

    .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    }


.middle-banner{
    margin-top: 20px;
    height: 400px;
    width: 1240px;
}

.grid-container2{
    margin: 15px auto 0;
    display: grid;
    grid-template-columns: 585px 585px;
    grid-template-rows: 300px;
    grid-gap: 15px;
    width: 1240px;
    justify-content: center;
}



#footer{
    height: 30px;
    margin-top: 10px;
}
.footer-container{
    height: 100%;
}

