
/*---------로고 위치--------------*/

.logo {
    --background: pink;
    height: 70px;
    width: 300px;
    text-align: center;
    margin-top: 15px;
}

/*--------헤더 위치------------*/


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search {
    position: relative;
    margin-left: 40px;
}

.search>div {
    display: flex;
    align-items: center;
}

.search input[type="submit"] {
    border: 0px;
    height: 25px;
    width: 31px;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
    bottom: 12px;
    background: rgba(0, 0, 0, 0);




}

.search input[type="text"] {

    border: solid 5px #5e4719;
    border-radius: 75px;
}


.member-menu {
    margin-right: 40px;
}

.member-menu>ul {
    display: flex;
    font-family: 'Lato', "고딕", Arial, Helvetica, sans-serif;
    --font-family:'Lato' , sans-serif;
    background-color: #f8f8f8;
    --font-weight: bold;
    font-size: 15px;
    color: #000;
}

.member-menu>ul>li {
    padding-right: 20px;
    padding-left: 20px;
}


.main-category {
    height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 999;
    margin-left: 60px;

}

.main-menu {
    border-bottom: 1px solid black;
}

.main-menu ul {
    display: flex;
    justify-content: center;
    font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000;
    text-decoration: none;
}

.main-menu>ul>li {
    --padding-top: 10px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 10px;
}

.main-menu a {
    color: #000;
    --background: white;
}

.main-menu a:hover {
    color: brown;
}

/*------body (서브메뉴부터 footer전까지)-----*/
#body {
    display: flex;
    justify-content: center;
}


/*------------------------sub menu------------------------------*/

.sub-menu>ul {
    display: flex;
    justify-content: center;
    font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.sub-menu>ul>li {
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.sub-menu a {
    color: #000;
    background: white;
}

.sub-menu a:hover {
    color: #9b0074;
}


.banner {
    width: 1920px;
    height: 700px;
}

.banner-img {
    width: inherit;
    height: inherit;
    background: url("../../images/banner2.png") center no-repeat;

    background-size: cover;
}

.on {
    position: fixed;
    left: 1800px;
    width: 58px;
    height: 58px;
    background: url(https://res.kurly.com/pc/service/common/1903/btn_pagetop_v2.png) no-repeat 50% 50%;
    font-size: 0px;
}

.list {
    margin-top: 100px;
    text-align: center;
}

.list-table {
    --table-layout: fixed;
    width: 85%;
    border: #000 solid 1px;
    --border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border-left: none;
    border-right: none;
    border-bottom: #808080 solid 3px;
}

.table-img {
    width: 160px;
    height: 140px;
    --background-color: #9b0074;

}

.list-table thead {
    font-weight: bold;

}

.list-table>thead>tr {
    height: 45px;
    border-bottom: #808080 solid 2px;
}

.list-table>thead td {
    --border: 2px solid blue;
    --border-radius: 50px;

    border-top: #808080 solid 3px;
    opacity: 0.7;
}

.list-table>tbody td {
    border-bottom: #808080 solid 2px;
    --border-radius: 50px;
}

.pager {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.pager>ul {
    display: flex;
}

.pager li {
    padding-left: 20px;
}

.list thead>tr>td:first-child {
    width: 100px;
    --background-color: aquamarine;
}

