#header {
	height: 120px;
	/* background: red; */
}

/*-----------------로고----------------*/
.logo {
	
}

/*--------------------검색창--------------------*/
.search {
	/* background: orange; */
	height: 40px;
}

/*----------로그인-------------*/
.member-menu {
	/* background: skyblue; */
	height: 40px;
}

/*-----------------배너----------------------------------*/
#banner {
	margin-top: 10px;
	height: 500px;
	background-size: 100%;
}

#banner .content-container {
	width: 1940px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#banner img {
	width:100%;
	height:400px;
	background-size:cover;
}

#body {
	height: auto;

	/* background: rgb(0, 30, 128); */
}

.main {
	height: max-content;
	width: 1240px;
}

.sub-menu {
	margin-top: 30px;
	margin-bottom: 50px;
	height: 30px;
	width: 1240px;
	/* background: blue; */
	/* margin-left: 130px; */
	/*margin-left: 350px;*/
}

.best-item {
	height: auto;
	width: 1240px;
	/* background: orchid; */
	display: flex;
	justify-content: center;
}

.best-item h2 {
	padding-top: 10px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
	/* background: blanchedalmond; */
}

.ad-video {
	margin-top: 30px;
	height: 400px;
	width: 1240px;
	background: powderblue;
}

.recomm {
	margin-top: 30px;
	height: 400px;
	width: 1240px;
	/* background: salmon; */
}

#footer {
	height: 30px;
	margin-top: 10px;
}

.footer-container {
	height: 100%;
}